<section class="content">
  <nav aria-label="Breadcrumb">
    <ol class="breadcrumb">
      <li aria-current="page">Group administration</li>
    </ol>
  </nav>
  <section class="groups">
    <div class="sectionhead">
      <h2>Group administration</h2>
      <div class="line"></div>
    </div>
    <div class="parent-container">
      <div class="actionsrow">
        <div class="search-filter-wrapper">
          <div class="searchBar">
            <input type="text" placeholder="Search.." />
          </div>
          <div>
            <button class="setting-btn dark light">
              <span class="bar bar1 dark light"></span>
              <span class="bar bar2 dark light"></span>
              <span class="bar bar1 dark light"></span>
            </button>
          </div>
        </div>
        <div class="toggle-container2">
          <input type="checkbox" id="toggle2" class="toggle-input2" />
          <label for="toggle2" class="toggle-label2">
            <img src="/images/editiconblack.svg" alt="Edit Icon" class="toggle-icon2 iconlight" />
            <img src="/images/editicon.svg" alt="Edit Icon" class="toggle-icon2 icondarkmode" />
          </label>
        </div>
      </div>
    </div>
    
    <div class="container-btn2">
      <a href="/create-new-group" class="button-link">
        <img src="/images/plusikon.svg" alt="Icon" class="buttonikon" />
        Create new group
      </a>
    </div>

    <div class="accordion-section">
      {{#each groups}}
      <div class="group-row">
        <div class="accordion-block" data-group-id="{{this.id}}" onclick="toggleAccordion2(this)">
          <div>
            <div class="cellcheckbox">
              <div class="emptybox2"></div>
              <div>
                <h4 class="tablep">{{this.name}}</h4>
                <p class="tablep">{{this.memberCount}} members</p>
              </div>
            </div>
          </div>
          <img src="/images/arrowblack.svg" alt="Icon" class="ikon2 arrow-icon2 iconlight" />
          <img src="/images/arrowwhite.svg" alt="Icon" class="ikon2 arrow-icon2 icondarkmode" />
        </div>
    
        <div class="accordion-content2">
          <div class="group-grid-header">
            <div class="group-grid-row">
              <div class="group-grid-cell header">
                <div class="cell-content">
                  <h5>Member</h5>
                  <p>Domainname</p>
                </div>
              </div>
              <div class="group-grid-cell header">
                <div class="cell-content">
                  <h5>Service</h5>
                </div>
              </div>
              <div class="group-grid-cell header">
                <div class="cell-content">
                  <h5>Status</h5>
                </div>
              </div>
            </div>
          </div>
    
          <div class="group-grid-body">
            {{#each this.members}}
            <div class="group-grid-row">
              <div class="group-grid-cell">
                <div class="cell-content">
                  <p class="cell-p-name">{{this.firstName}} {{this.lastName}}</p>
                  <p class="cell-p">hej.kubelab.dk</p>
                </div>
              </div>
              <div class="group-grid-cell">
                <div class="cell-content">
                  <p class="cell-p">Wordpress</p>
                </div>
              </div>
              <div class="group-grid-cell">
                <div class="statusrow">
                  <img src="/images/redstatus.svg" alt="Icon" class="ikon2" />
                  <p class="statusp">OFFLINE</p>
                </div>
              </div>
            </div>
            {{else}}
            <div class="group-grid-row empty-state">
              <div class="group-grid-cell">
                <div class="cell-content">
                  <p class="cell-p">No members in this group</p>
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
      {{else}}
      <div class="no-groups-message">
        <p>No groups found. Click "Create new group" to add one.</p>
      </div>
      {{/each}}
    </div>
  </section>
</section>