<section class="content">
  <nav aria-label="Breadcrumb">
    <ol class="breadcrumb">
      <li aria-current="page">Group administration</li>
    </ol>
  </nav>
  <section class="groups">
    <div class="sectionhead">
      <h2>Group administration</h2>
      <div class="line"></div>
    </div>
    <div class="parent-container">
      <div class="actionsrow">
        <div class="search-filter-wrapper">
          <div class="searchBar">
            <input type="text" placeholder="Search.." />
          </div>
          <div>
            <img class="filtericon iconlight" src="/images/Filtericonblack.svg" alt="Filter Icon" />
            <img class="filtericon icondarkmode" src="/images/Filtericon.svg" alt="Filter Icon" />
          </div>
        </div>
        <div class="toggle-container2">
          <input type="checkbox" id="toggle2" class="toggle-input2" />
          <label for="toggle2" class="toggle-label2">
            <img src="/images/editiconblack.svg" alt="Edit Icon" class="toggle-icon2 iconlight" />
            <img src="/images/editicon.svg" alt="Edit Icon" class="toggle-icon2 icondarkmode" />
          </label>
        </div>
      </div>
    </div>
    <div class="container-btn2">
      <a href="/create-new-group" class="button-link"><img
          src="/images/plusikon.svg"
          alt="Icon"
          class="buttonikon"
        />Create new group</a>
    </div>

    <div class="accordion-section">
      <!-- Accordion Header -->
      {{#if groups.length}}
        {{#each groups}}
          <div class="accordion-block" data-group-id="{{this.id}}" onclick="toggleAccordion2(this)">
            <div>
              <div class="cellcheckbox">
                <div class="emptybox2"></div>
                <div>
                  <h4 class="tablep">{{this.name}}</h4>
                  <p class="tablep">{{this.memberCount}} members</p>
                </div>
              </div>
            </div>
            <img src="/images/arrowblack.svg" alt="Icon" class="ikon2 arrow-icon2 iconlight" />
            <img src="/images/arrowwhite.svg" alt="Icon" class="ikon2 arrow-icon2 icondarkmode" />
          </div>

          <!-- Accordion content will be loaded dynamically -->
          <table class="accordion-content2" style="display: none;">
            <tr>
              <th>
                <div class="cell-content">
                  <h5>Member</h5>
                  <p>Domainname</p>
                </div>
              </th>
              <th>
                <div class="cell-content">
                  <h5>Service</h5>
                </div>
              </th>
              <th>
                <div class="cell-content">
                  <h5>Status</h5>
                </div>
              </th>
            </tr>
            <!-- Member here need to be fixed-->
            {{#each users}}
            <tr class="accordion-content2">
              <th>
                <div class="cell-content">
                  <p class="cell-p">{{this.firstName}} {{this.lastName}}</p>
                  <p class="cell-p">hej.kubelab.dk</p>
                </div>
              </th>
              <th>
                <div class="cell-content">
                  <p class="cell-p">Wordpress</p>
                </div>
              </th>
              <th>
                <div class="statusrow">
                  <img src="/images/redstatus.svg" alt="Icon" class="ikon2" />
                  <p class="statusp">OFFLINE</p>
                </div>
              </th>
            </tr>
            {{/each}}
          </table>
        {{/each}}
        {{else}}
        <div class="no-groups-message">
          <p>No groups found. Click "Create new group" to add one.</p>
        </div>
      {{/if}}
    </div>
    <div class="accordion-section">
      <!-- Accordion Header -->
      <div class="accordion-block" onclick="toggleAccordion2(this)">
        <div class="cellcheckbox">
          <div class="emptybox2"></div>
          <div>
            <h4 class="tablep">Group Name</h4>
            <p class="tablep">22 members</p>
          </div>
        </div>
        <img src="/images/arrowblack.svg" alt="Icon" class="ikon2 arrow-icon2 iconlight" />
        <img src="/images/arrowwhite.svg" alt="Icon" class="ikon2 arrow-icon2 icondarkmode" />
      </div>
    
      <!-- Accordion Content Row -->
      <table class="">
        <tr class="accordion-content2">
          <th>
            <div class="cell-content">
              <h5>Member</h5>
              <p>Domainname</p>
            </div>
          </th>
          <th>
            <div class="cell-content">
              <h5>Service</h5>
            </div>
          </th>
          <th>
            <div class="cell-content">
              <h5>Status</h5>
            </div>
          </th>
        </tr>
        <tr class="accordion-content2">
          <th>
            <div class="cell-content">
              <p class="cell-p">Mette Lund</p>
              <p class="cell-p">hej.kubelab.dk</p>
            </div>
          </th>
          <th>
            <div class="cell-content">
              <p class="cell-p">Wordpress</p>
            </div>
          </th>
          <th>
            <div class="statusrow">
              <img src="/images/redstatus.svg" alt="Icon" class="ikon2" />
              <p class="statusp">OFFLINE</p>
            </div>
          </th>
        </tr>
        <tr class="accordion-content2">
          <th>
            <div class="cell-content">
              <p class="cell-p">Max Gust</p>
              <p class="cell-p">hejsa.kubelab.dk</p>
            </div>
          </th>
          <th>
            <div class="cell-content">
              <p class="cell-p">Wordpress</p>
            </div>
          </th>
          <th>
            <div class="statusrow">
              <img src="/images/greenstatus.svg" alt="Icon" class="ikon2" />
              <p class="statusp">ONLINE</p>
            </div>
          </th>
        </tr>
      </table>
    </div>
  </section>
</section>