<section class="content">
  <nav aria-label="Breadcrumb">
    <ol class="breadcrumb">
      <li aria-current="page">Projects</li>
    </ol>
  </nav>
  <section class="my-projects">
    <div class="sectionhead">
      <h2>My Projects</h2>
      <div class="line"></div>
    </div>
    <div class="parent-container">
      <div class="actionsrow">
        <div class="search-filter-wrapper">
          <div class="searchBar">
            <input type="text" placeholder="Search.." />
          </div>
          <button class="setting-btn dark light">
            <span class="bar bar1 dark light"></span>
            <span class="bar bar2 dark light"></span>
            <span class="bar bar1 dark light"></span>
          </button>
        </div>
        <div class="toggle-container2">
          <input type="checkbox" id="toggle2" class="toggle-input2" />
          <label for="toggle2" class="toggle-label2">
            <img
              src="/images/editiconblack.svg"
              alt="Edit Icon"
              class="toggle-icon2 iconlight"
            />
            <img
              src="/images/editicon.svg"
              alt="Edit Icon"
              class="toggle-icon2 icondarkmode"
            />
          </label>
        </div>
      </div>
    </div>

    <h2>Delete Stack</h2>
  <form id="deleteStackForm">
    <input type="text" id="stackId" name="stackId">
    <button type="submit">Delete Stack</button>
  </form>

    <div>
      <div class="container-btn">
        <a href="/start-new-project" class="button-link">
          <img
            src="/images/plusikon.svg"
            alt="Icon"
            class="buttonikon iconlight"
          />
          Create new project</a>
      </div>
    </div>

    <div class="dashboard-content">
      <table>
        <tr class="tablerow">
          <th class="tablehead"><h3>Project Name</h3></th>
          <th class="tablehead mobileonly"><h3>Service</h3></th>
          <th class="tablehead mobileonly"><h3>Created at</h3></th>
          <th class="tablehead"><h3>Status</h3></th>
          <th class="tablehead"><h3>Action</h3></th>
        </tr>

        {{#each stacks}}
          <tr class="accordion-header" onclick="toggleAccordion(this)">
            <td>
              <div class="cellcheckbox">
                <div class="emptybox"></div>
                <p class="tablep">{{name}}</p>
              </div>
            </td>
            <td class="mobileonly">
              <p>WordPress</p>
            </td>
            <td class="mobileonly">
              <p>{{creationDate}}</p>
            </td>
            <td>
              <div class="statusrow">
                {{#if status}}
                  <img src="/images/greenstatus.svg" alt="Icon" class="ikon2" />
                  <p class="statusp">ONLINE</p>
                {{else}}
                  <img src="/images/redstatus.svg" alt="Icon" class="ikon2" />
                  <p class="statusp">OFFLINE</p>
                {{/if}}
              </div>
            </td>
            <td>
              <div class="actiontablecell">
                {{#if status}}
                  <img src="/images/pauseikon.svg" alt="Stop" class="ikon2 iconlight" />
                  <img src="/images/pauseikonwhite.svg" alt="Stop" class="ikon2 icondarkmode" />
                {{else}}
                  <img src="/images/playikon.svg" alt="Start" class="ikon2 iconlight" />
                  <img src="/images/playiconwhite.svg" alt="Start" class="ikon2 icondarkmode" />
                {{/if}}
                <img src="/images/arrowblack.svg" alt="Icon" class="ikon2 arrow-icon iconlight" />
                <img src="/images/arrowwhite.svg" alt="Icon" class="ikon2 arrow-icon icondarkmode" />
              </div>
            </td>
          </tr>

          <tr class="accordion-content">
          <td colspan="3">
              <div class="cell-content">
                <h5>Entry Point</h5>
                <p><a href="https://{{entryPoint}}" target="_blank">{{entryPoint}}</a></p>
              </div>
            </td>
          <td>
            <div class="cell-content">
              <h5 class="tablecontenth">Created</h5>
              <p class="tablecontentp">15 Oktober 2024 - 15:15:15</p>
            </div>
          </td>
          <td>
            <div class="cell-content">
              <h5 class="tablecontenth">Group</h5>
              <p class="tablecontentp">Group name</p>
            </div>
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr class="accordion-content accordion-buttonrow">
          <td class="td2">
            <div class="delete-button-container" onclick="deleteStack('{{id}}')">
              <div class="delete-icon-wrapper">
                <svg
                  class="delete-icon"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                >
                  <path
                    class="delete-icon-lid"
                    d="M4 6H20M16 6L15.7294 5.18807C15.4671 4.40125 15.3359 4.00784 15.0927 3.71698C14.8779 3.46013 14.6021 3.26132 14.2905 3.13878C13.9376 3 13.523 3 12.6936 3H11.3064C10.477 3 10.0624 3 9.70951 3.13878C9.39792 3.26132 9.12208 3.46013 8.90729 3.71698C8.66405 4.00784 8.53292 4.40125 8.27064 5.18807L8 6"
                    stroke="white"
                    stroke-width="2"
                  />
                  <path
                    d="M19 6V17.2C19 18.8802 19 19.7202 18.673 20.362C18.3854 20.9265 17.9265 21.3854 17.362 21.673C16.7202 22 15.8802 22 14.2 22H9.8C8.11984 22 7.27976 22 6.63803 21.673C6.07354 21.3854 5.6146 20.9265 5.32698 20.362C5 19.7202 5 18.8802 5 17.2V6M10 10V17M14 10V17"
                    stroke="white"
                    stroke-width="2"
                  />
                </svg>
              </div>
              <button class="delete-button">
                <span>Delete project</span>
              </button>
            </div>
          </td>
          <td class="td2"></td>
          <!-- Empty column for spacing -->
          <td class="td2"></td>
          <!-- Empty column for spacing -->
          <td class="td2"></td>
          <!-- Empty column for spacing -->
          <td class="td2">
            <a href="" class="">
              <div class="container-btn2">
                <div class="btn2-icon-restart">
                  <img
                    src="/images/Redo.svg"
                    alt="restart icon"
                    class="btn-icon2"
                  />
                </div>
                <button class="btn2-restart">Restart project</button>
              </div>
            </a>
          </td>
        </tr>
        {{else}}
          <tr>
            <td colspan="5" class="text-center">
              <p>No projects found. Click "Create new project" to get started.</p>
            </td>
          </tr>
        {{/each}}
        <!-- Accordion Content Row -->
  </section>
</section>

